* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: white;
    background-color: #000;
    font-family: 'Arial', sans-serif;
}


.showcase {
    height: 93vh;
    background-image: url("https://i.ibb.co/vXqDmnh/background.jpg");
}

.showcase-top {
    height: 90px;
    position: relative;

    img {
        width: 10.4375rem;
        height: 2.8125rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    a {
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        background-color: #e50914;
        text-decoration: none;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        text-align: center;
        border: none;
        cursor: pointer;
        outline: none;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
        border-radius: 5px;
    }

    a:hover {
        color: rgb(204, 188, 188);
    }
}

.showcase-main {
    display: flex;
    flex-direction: column;

    p {
        color: #999;
    }

    a {
        text-decoration: none;
        color: white;
        border: none;
        background-color: #e50914;
        border-radius: 5px;
        width: 20rem;
        height: 3rem;
        text-align: center;
        font-size: 1.3rem;
    }
}