* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #999;
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.showcase {
    height: 93vh;
    background-image: url("https://i.ibb.co/vXqDmnh/background.jpg");
    border-bottom: 8px solid #222;
}